<div class="d-flex justify-content-center align-items-center mb-4">
	<div class="form-outline flex-fill">
		<input
			type="text"
			id="form3"
			class="form-control form-control-lg"
			placeholder="What do you need to do today? 🤔"
			#inputValue
			(keydown.enter)="sendTask(inputValue.value); inputValue.value = ''" />
	</div>
	<button class="btn btn-primary btn-lg ms-2" (click)="sendTask(inputValue.value); inputValue.value = ''">Add</button>
</div>

<!-- [Dummy UI To SEt The Logic Before Styling]-->

<!-- <div class="inputHolder">
	<h1>To-Do App!</h1>
	<input type="text" #inputValue />
	<button class="addbtn" (click)="sendTask(inputValue.value)">Add Task</button>
</div> -->

<!-- [Dummy UI To SEt The Logic Before Styling]-->
